body {
	padding: 0;
	margin: 0;
	}
html, body, #map {
	height: 100%;
	}

/* sidebar modification */
.sidebar-tabs {
  height: 35px;
}
.sidebar {
  z-index: 1;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); 
}
  .sidebar.leaflet-touch {
    box-shadow: none;
    border-right: 0 solid rgba(0, 0, 0, 0); }
  @media (min-width: 768px) {
    .sidebar {
      border-radius: 0; }
      .sidebar.leaflet-touch {
        border: 0 solid rgba(0, 0, 0, 0); }
      .sidebar.collapsed ~ .sidebar-map .leaflet-left {
        left: 50px; } }
.fa-question-circle{
font-size: 1.4em;
}
        
/* FIX THIS position layer control */
.leaflet-top .leaflet-control {
	margin-top: 50px;
	}
.leaflet-top .leaflet-control-zoom {
	margin-top: 5px;
}
/* leaflet control locate modifications */
.leaflet-bar a, .leaflet-bar a:hover {
width: 30px;
height: 30px;
line-height: 30px;
}

/*Control full screen */
.leaflet-control-zoom-fullscreen { background-image: url(images/icon-fullscreen.png); }
.leaflet-retina .leaflet-control-zoom-fullscreen { background-image: url(images/icon-fullscreen-2x.png); background-size: 26px 26px; }
.leaflet-container:-webkit-full-screen { width: 100% !important; height: 100% !important; z-index: 99999; }
.leaflet-pseudo-fullscreen { position: fixed !important; width: 100% !important; height: 100% !important; top: 0px !important; left: 0px !important; z-index: 99999; }

/* compass positioning */
.leaflet-control.leaflet-compass {
	position:relative;
	float:right;
	color:#1978cf;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*background-color: rgba(0, 0, 0, 0.25);*/
	background-color: rgba(255, 255, 255, 0.8);
	/*background: none;*/
	box-shadow: 0 1px 7px rgba(0,0,0,0.65);
	margin-left:10px;
	margin-top:10px;
}
.leaflet-compass .compass-button {
	display:block;
	float:right;
	width:36px;
	height:36px;
	border-radius:4px;
}

/*.alignleft {
	top: 0;
	left: 0;
	float: left;
	text-align:left;
	width: 30%;
	background-color: #ffffff;
	}
.alignright {
	top: 0;
	right: 0;
	 float: left;
	 text-align:right;
	 width: 30%;
	background-color: #ffffff;
	}
{ color: #4B58A6; }
a:hover { color: #4B58A6; }*/
