body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* Slide menu button with question circle and locate button */
.leaflet-control-slidemenu a,
.leaflet-control-locate a,
.leaflet-control-layers a {
  width: 36px !important;
  height: 36px !important;
  line-height: 36px !important;
  font-size: 2em;
}

/* Line mileage distance markers and colors */
.dist-marker {
	font-size: 14px;
  line-height: 18px;
  font-weight: bold;
	text-align: center;
	color: #fff;
  height: 18px !important;
  width: 18px !important;
  border-radius: 9px;
}

/* Background colors of distance markers and colored lines */
/* Match with route colors defined in html */
.bg-blue { background: blue; }
.bg-green { background: green; }
.bg-black { background: black; }
.bg-yellow { background: #ff9900; }
.bg-pink { background: #f39; }
.bg-orange { background: orange;}
.bg-red { background: red;}

/* title and colored lines in layer control */
#mapTitle {
  margin: 5px 0 5px 0;
}

.color-line {
  display: inline-block;
  vertical-align: middle;
  height: 5px;
  width: 25px;
}

.leaflet-popup-content img {
  width: 100%;
}

.dropdown-container i {
  position: absolute;
  font-size: 16px;
  right: 10px;
  top: 50%;
  transform: translateY(-7px);
  color: #777;
  opacity: 0.8;
  pointer-events: none;
}

#dropdown {
  background: white;
  padding: 7px 14px;
  padding-right: 30px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-appearance: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
}

#dropdown:hover {
  cursor: pointer;
  background: #f4f4f4;
}
