body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.dist-marker {
	font-size: 14px;
  line-height: 18px;
  font-weight: bold;
	text-align: center;
	color: #fff;
  height: 18px !important;
  width: 18px !important;
  border-radius: 9px;
}

.bg-blue {
  background: blue;
}

.bg-green {
  background: green;
}

.bg-black {
  background: black;
}

.bg-yellow {
  background: #ffcc00;
}

.bg-pink {
  background: #f39;
}
